.section-client {
    padding: 0 0 7em 4.25em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;

    &__box1 {
        padding-left: 3.25em;

        &--title {
            font-size: 2.5em;
        }

        &--info {
            color: #757575;
            font-size: 16px;
        }
    }

    &__box2 {
        padding: 30px 30px 60px;
        display: flex;
        flex-wrap: wrap;

        &--logo {
            padding: 15px 30px;
            margin: auto;
            float: left;

            &--amazon {
                transform: translateY(10px);
            }
        }
    }
}