.section-home {
    padding: 0 0 0 4.25em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    min-height: 600px;

    &__box1 {
        padding: 4.5em 0 3.25em 3.25em;
        width: 50%;
        position: relative;
        z-index: 1000;

        &--title {
            font-size: 2.5em;
        }

        &--info {
            font-size: 1em;
            color: #565656;
            padding: 2em 5.5em 2em 0;
        }

        &--button {

            a {
                color: white;
                text-decoration: none;
            }

        }

        &--dots_ornament {
            position: absolute;
            left: 0;
            bottom: 170px;
            z-index: -1;
        }

        &--blue-circle {
            background-color: #DAE9FF;
            height: 130px;
            width: 130px;
            border-radius: 100%;
            position: absolute;
            top: 0;
            right: -65px;
            z-index: -1;
        }
    }

    &__box2 {
        width: 50%;
        position: relative;

        &--img {
            width: 100%;
            border-radius: 0 0 0 200px;
            max-height: 500px;
            z-index: 1000;
            position: relative;
        }

        &--orange-shape {
            z-index: -1;
            background-color: #FFF5DB;
            height: 250px;
            width: 178px;
            position: absolute;
            bottom: 0px;
            right: 120px;
            border-radius: 0 0 100px 0;
        }
    }

    @media (max-width: 1080px) {

        & {
            flex-direction: column;

            &__box1,
            &__box2 {
                width: 100%;
                padding-bottom: 100px;
            }
        }

        &__box1--dots_ornament {
            bottom: 50px;
        }

        &__box1--blue-circle {
            top: auto;
            bottom: -65px;
            right: 0;
        }

        .section-home__box2--img {
            border-radius: 0 0 0 100px;
        }
    }
}

@media (max-width: 600px) {
    .section-home {
        padding-left: 30px !important;
        padding-top: 20px !important;


        &__box1 {
            padding-left: 0 !important;
            padding-top: 20px !important;
        }
    }
}